<nav class="d-flex justify-content-between align-items-center mb-4">
<h1><%= @todo['title']%></h1>
<%= link_to "Retour", todos_path, class:"btn btn-danger" %>
</nav>
<hr>
<h4><%= @todo['description']%></h4>